.open-explorer {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1;
}

.navbar {
    border-bottom: 1px solid #eee;
    padding: 0 1rem;
}

.explorer {
    position: relative;
}

.content {
    height: calc(100% - 44px);
}

.explorer {
    transition: margin-left 0.1s;
}
