$blue: #c7edfc;
$blue-light: #dcf1fa;
$gray-100: #f5f5f5;
$primary-light: $blue-light;
$link-color: #7ed6f8;
$dropdown-link-active-color: #000;

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
@import "~katex/dist/katex.min.css";

@import "./layout.scss";
@import "./splitpanes.scss";
@import "./notes-explorer.scss";
@import "./note-editor.scss";
@import "./modal.scss";
@import "./animation.scss";
@import "./scrollbar.scss";

.btn-icon {
    border: 0;
    background: transparent !important;
    color: $black !important;
    padding: 0;
    min-width: 1.5rem;
    line-height: 1;

    &:focus,
    &:active:focus {
        outline: none !important;
        box-shadow: none !important;
    }
    &:active {
        &.btn-grow {
            transform: scale(1.5);
        }
    }
    &:hover {
        &.btn-primary {
            color: $blue !important;
        }
        &.btn-danger {
            color: $red !important;
        }
    }
}
