$blue: #c7edfc;
$blue-light: #dcf1fa;
$gray-100: #f5f5f5;

$secondary: $blue-light;

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

@import "./splitpanes.scss";
@import "./notes-explorer.scss";
@import "./note-editor.scss";

.btn-icon {
    border: 0;
    background: transparent !important;
    color: $black !important;
    padding: 0;

    &:focus,
    &:active:focus {
        outline: none !important;
        box-shadow: none !important;
    }
    &:hover {
        &.btn-primary {
            color: $blue !important;
        }
        &.btn-danger {
            color: $red !important;
        }
    }
}
