$blue: #c7edfc;
$blue-light: #dcf1fa;
$gray-100: #f5f5f5;
$primary-light: $blue-light;

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

@import "./layout.scss";
@import "./splitpanes.scss";
@import "./notes-explorer.scss";
@import "./note-editor.scss";
@import "./modal.scss";
@import "./animation.scss";

a {
    color: #7ed6f8;

    &:hover {
        color: darken(#7ed6f8, 7.5%);
    }
}

.btn-icon {
    border: 0;
    background: transparent !important;
    color: $black !important;
    padding: 0;

    &:focus,
    &:active:focus {
        outline: none !important;
        box-shadow: none !important;
    }
    &:hover {
        &.btn-primary {
            color: $blue !important;
        }
        &.btn-danger {
            color: $red !important;
        }
    }
}
