.vm--modal {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;

    .modal-mover {
        cursor: move;
    }
}

.vm--overlay {
    background-color: rgba(0, 0, 0, 0.6) !important;
}
