@import '~quill/dist/quill.snow.css';

.note-editor {
    height: 100%;
}

.note-editor-container {
    height: calc(100% - 43px);
}

.ql-container.ql-snow {
    overflow: auto;
    border: none;
    font-size: 1rem;

    .ql-editor {
        min-height: 100%;
        height: auto;
        width: 100%;
        max-width: 794px;
        margin: 0 auto 6rem auto;
        box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .15);
    }
}

.note-content-editor {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.ql-toolbar button svg {
    // Fix issue with active button cannot be clicked
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ql-toolbar.ql-snow {
    border: none;
    border-bottom: 1px solid #eee;
    padding: 0.5rem 0.5rem 0.5rem 26.75px;

    .ql-formats {
        text-align: left;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.ql-snow {
    .ql-toolbar,
    &.ql-toolbar {
        button:hover,
        button:focus,
        button.ql-active,
        .ql-picker-label:hover,
        .ql-picker-label.ql-active,
        .ql-picker-item:hover,
        .ql-picker-item.ql-selected {
            $hover-background: darken($primary, 7.5%);

            color: $hover-background !important;

            .ql-fill {
                fill: $hover-background !important;
            }

            .ql-stroke {
                stroke: $hover-background !important;
            }
        }

        .ql-picker {
            &.ql-expanded {
                .ql-picker-options {
                    border: 0;
                }
            }
        }
    }
}
