@mixin fading($background) {
    background: linear-gradient(to left, $background, transparent 15px);
}

.note-explorer {
    height: 100%;
    background-color: $gray-100;

    .note-explorer-content {
        height: calc(100% - 86px);
        overflow: auto;
    }
    .note-item-title {
        height: 1.5rem;
        overflow: hidden;
        white-space: nowrap;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            @include fading($gray-100);
        }
    }
    .note-explorer-item {
        display: block;
        color: $black;

        &:hover {
            text-decoration: none;
            background-color: $primary-light;

            .note-item-title:after {
                @include fading($primary-light);
            }
        }
        &.active {
            background-color: $primary;

            .note-item-title:after {
                @include fading($primary);
            }
        }
    }
    .note-item-summary {
        min-height: 1rem;
        max-height: 3rem;
        overflow: hidden;
    }
}

.utility-bar {
    max-height: 2.5rem;
    overflow: hidden;

    .spinner {
        position: absolute;
        top: 50%;
        margin: -0.5rem;
    }
}
