.note-item-content {
    max-height: 200px;
    overflow: hidden;
}

.note-explorer {
    height: 100%;

    .note-eplorer-content {
        height: calc(100% - 109px);
        overflow: auto;
    }

    .note-item-summary {
        max-height: 3rem;
        overflow: hidden;
    }
}

.utility-bar {
    max-height: 2.5rem;
    overflow: hidden;

    .spinner {
        position: absolute;
        top: 50%;
        margin: -0.5rem;
    }
}
