@import '~quill/dist/quill.snow.css';

.note-editor {
    height: 100%;
}

.note-editor-container {
    height: calc(100% - 43px);
}

.ql-container.ql-snow {
    overflow: auto;
    border: none;
    font-size: 1rem;
}

.editor {
    pre {
        padding: 0.7rem 1rem;
        border-radius: 5px;
        background: $black;
        color: $white;
        font-size: 0.8rem;
        overflow-x: auto;
  
        code {
            display: block;
        }
    }
}

.ProseMirror {
    min-height: 100%;
    height: auto;
    width: 100%;
    max-width: 794px;
    margin: 0 auto 6rem auto;
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .15);
    padding: 0.5rem;

    &:focus {
        outline: none;
    }
}

.note-content-editor {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

$hover-background: darken($primary, 25%);
.menubar {
    border: none;
    border-bottom: 1px solid #eee;
    padding: 0.5rem 0.5rem 0.5rem 36px;

    &__button {
        padding: .5rem;
        font-weight: 700;
        display: inline-block;
        background: transparent;
        border: 0;
        color: #000;
        margin-right: 0.25rem;
        border-radius: 5px;

        &:last-of-type {
            margin-right: 0;
        }

        &.active {
            color: $hover-background;

            .icon {
                &.fill {
                    fill: $hover-background !important;
                }

                &.stroke {
                    stroke: $hover-background !important;
                }
            }
        }

        &:hover {
            background-color: $light;
        }
    }
}

.ql-snow {
    .ql-toolbar,
    &.ql-toolbar {
        button:hover,
        button:focus,
        button.ql-active,
        .ql-picker-label:hover,
        .ql-picker-label.ql-active,
        .ql-picker-item:hover,
        .ql-picker-item.ql-selected {
            color: $hover-background !important;

            .ql-fill {
                fill: $hover-background !important;
            }

            .ql-stroke {
                stroke: $hover-background !important;
            }
        }

        .ql-picker {
            &.ql-expanded {
                .ql-picker-options {
                    border: 0;
                }
            }
        }
    }
}
