$splitter-thickness: 7px;

.splitpanes {
    display: flex;
    flex: 1 1 0%;
    position: absolute;
    outline: none;
    user-select: text;
    flex-direction: row;
    left: 0px;
    right: 0px;

    .splitpanes__splitter {
        background: transparent;
        z-index: 1;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;

        &.disabled {
            cursor: not-allowed;
    
            &:hover {
                border-color: transparent;
            }
        }
    }
    &.splitpanes--horizontal {
        .splitpanes__splitter {
            height: $splitter-thickness;
            margin-top: -$splitter-thickness;
            cursor: ns-resize;
            width: 100%;
        }
    }
    &.splitpanes--vertical {
        .splitpanes__splitter {
            width: $splitter-thickness;
            margin-left: -$splitter-thickness;
            cursor: ew-resize;
        }
    }
}
